*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.pageNotFound {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    font-size: 70px;
}

a{
    text-decoration: none;
}